body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    direction: rtl; /* چون فارسی استفاده می‌کنیم */
  }
  
  .app {
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  .product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 16px;
    width: 200px;
    border-radius: 4px;
    text-align: left;
  }

  .bg-laptop {
    background-color: #FFD4D4; 
    padding: 50px;
    border-radius: 40px;
  }
  
  .bg-smartphone {
    background-color: #D4FFD4; 
  }
  
  .bg-headphones {
    background-color: #D4D4FF; 
  }
  
  .product-item h2 {
    margin: 0;
    margin-bottom: 8px;
  }
  
  .product-item p {
    margin: 4px 0;
  }
  